*.deb
*.orig
*~
.cproject
.project
.settings
/coverage
/coverage.info
/minimalist-pcproxy
/test_*
CMakeCache.txt
CMakeFiles
CMakeScripts
CPackConfig.cmake
CPackSourceConfig.cmake
Debug
Makefile
Release
_CPack_Packages
cmake_install.cmake
install_manifest.txt
minimalist-pcproxy.build
minimalist-pcproxy.xcodeproj
